<html>
<title>Bank Info</title>
<b>Bank Contacts</b>
 
<p>The List Of Bank Contacts!</p>
<ul>
{% for bank in banks %}
<li><strong>{{ bank.bankname|safe }}</strong> Contacts : Phone Number <strong>{{ bank.phone|safe }}</strong>other <strong>{{ bank.other|safe }}</strong>
{% else %}
<li><em>Rigntnow There is Nothing!</em></li>
{% endfor %}
</ul>
 
<b>Show Me</b>
 
<form method="POST" action="/new">
    {{ form.hidden_tag() }}
    {{ form.bankname.label }} {{ form.bankname(size=40) }}
    <br/>
    {{ form.phone.label }} {{ form.phone(size=47) }}
    <br/>
    {{ form.other.label }} {{ form.other(size=47) }}
    <br />
    {{ form.submit }}
</form>
</html>